<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostOfficeManagementSystem2.Properties.Settings.moneyorderConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\moneyorder.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.parcelserviceConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\parcelservice.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.productdetailsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\productdetails.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.registeredpostConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\registeredpost.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.rdimoneyConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\rdimoney.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.moneysavingsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\moneysavings.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.speedpostConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\speedpost.accdb"
            providerName="System.Data.OleDb" />
        <add name="PostOfficeManagementSystem2.Properties.Settings.salesdetailsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\salesdetails.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>